body {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
.app {
  background-image: url("https://images.unsplash.com/photo-1490735891913-40897cdaafd1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHN1bnJpc2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  max-width: 600px;
  border-radius: 5px;
  box-shadow: black 2px 2px 2px;
  margin: 0 auto;
}
h1 {
  font-size: 70px;
  font-weight: 800;
  color: black;
  text-align: center;
  padding: 5px;
  opacity: 0.5;
  margin-top: 30px;
}
h2 {
  text-align: center;
  font-size: 25px;
  padding: 0;
}
ul {
  font-weight: 500;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.forecast-temperature-max {
  font-weight: 800;
}
.forecast-temperature-min {
  font-weight: 100;
}

.row .forecast {
  font-size: 17px;
  text-align: center;
}
.weather-description {
  font-size: 18px;
  margin-top: 35px;
}
#current-location-button {
  margin: 0 auto;
  display: block;
  background-color: #d37881;
  color: white;
}
#date-time {
  font-style: italic;
}

#search-form {
  margin: 30px;
  text-align: center;
}
#temperature-unit {
  font-size: 30px;
}
#today-temperature {
  font-size: 50px;
}
#today-emoji {
  font-size: 80px;
}
#today-description {
  font-size: 20px;
  text-transform: capitalize;
}
#link-to-github {
  text-align: center;
  font-size: 12px;
}
